[submodule "third_party/daisysp"]
	path = third_party/daisysp
	url = https://github.com/electro-smith/DaisySP.git
[submodule "third_party/libDaisy"]
	path = third_party/libDaisy
	url = https://github.com/electro-smith/libDaisy.git
